* {
	margin: inherit;
	padding: inherit;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #eef;
}

section {
	position: absolute;
	display: block;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
h1,h2,h3,h4,h5,h6,p {
	font-family: "Century Gothic";
	font-weight: normal;
	color: #4ea3b1;
}

section h1 {
	text-align: center;
	font-size: 36px;
	font-size: 3vw;
}

#logo {
	width: 30%;
	height: 20%;
	top: 0;
	left: 0;
	border-bottom: 5px solid #4ea3b1;
	border-right: 5px solid #4ea3b1;
}
#logo svg {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
}
section h2 {
	text-align: center;
	font-size: 46px;
}

#ranking {
	width: 30%;
	height: 80%;
	top: 20%;
	left: 0;
	border-right: 5px solid #4ea3b1;
	overflow: auto;
}
#ranking h1 {
	margin-top: 5%;
}
#projects {
	width: 70%;
	height: 100%;
	top: 0;
	left: 30%;
}
#projects h1 {
	margin-top: 2%;
}