/*
	#E6E2AF
	#A7A37E
	#ecf0f1 background
	#046380 text
	#002F2F selected
*/
* {
	margin: inherit;
	padding: inherit;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #ecf0f1;
}

h1,h2,h3,h4,h5,h6,p,svg {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	color: #046380;
}

section {
	position: absolute;
	display: block;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
	section h1 {
		text-align: center;
		font-size: 36px;
		font-size: 6vh;
	}

#loading {
	background:#fff;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:1000;
}
	#loading h1 {
		text-align: center;
		font-size: 72px;
		position:absolute;
		top: 50%;
		left: 50%;
		margin-top: -72px;
		margin-left: -140px;
	}
#logo {
	background-color: #046380;
	width: 30%;
	height: 20%;
	top: 0%;
	left: 0%;
	border: none;
}
	#logo svg {
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
	}

#ranking {
	border-right: 5px solid #046380;
	overflow: auto;
	width: 30%;
	height: 80%;
	top: 20%;
	left: 0%;
	border: none;
	border-right: 2px solid #046380;
}
	#ranking h1 {
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.ranking_project {
		width: 100%;
		padding-top: 2px;
	}
	.ranking_project:hover {
		cursor: pointer;
	}

#projects {
	overflow: auto;
	width: 70%;
	height: 100%;
	top: 0%;
	left: 30%;
}
	#projects h1 {
		margin-top: 2%;
		margin-bottom: 2%;
		display: none;
	}
	#choose_project {
		text-align:center;
		font-size: 72px;
		font-size: 10vh;
		margin-top: 10vh;
	}
	#projects .project_details {
		width: 100%;
		display: none;
	}
	#projects hr {
		width: 80%;
		margin: 2% 0 2% 10%;
		height: 1px;
		padding: 0;
		color: #046380;
		background-color: #046380;
		border: 0;
	}
	#projects .remove_project {
		cursor: pointer;
	}