* {
	margin: inherit;
	padding: inherit;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 300px;
	background: #ecf0f1;
}

h1,h2,h3,h4,h5,h6,p,svg {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	color: #046380;
}

section {
	position: absolute;
	display: block;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
	section h1 {
		text-align: center;
		font-size: 36px;
		font-size: 6vh;
	}

#loading {
	background:#fff;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:1000;
}
	#loading h1 {
		text-align: center;
		font-size: 72px;
		position:absolute;
		top: 50%;
		left: 50%;
		margin-top: -72px;
		margin-left: -140px;
	}
#logo {
	background-color: #046380;
	width: 30%;
	height: 20%;
	top: 0%;
	left: 0%;
	border: none;
}
	#logo svg {
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
	}

#ranking {
	border-right: 5px solid #046380;
	overflow: auto;
	width: 30%;
	height: 80%;
	top: 20%;
	left: 0%;
	border: none;
}
	#ranking h1 {
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.ranking_project {
		width: 100%;
		padding-top: 2px;
	}
	.ranking_project:hover {
		cursor: pointer;
	}

.page {
	overflow: auto;
	width: 70%;
	height: 0%;
	top: 0%;
	left: 30%;
}
#projects {
}
	#projects h1, #variator h1 {
		margin-top: 2%;
		margin-bottom: 2%;
		/* display: none;*/
	}
	#choose_project {
		text-align:center;
		font-size: 72px;
		font-size: 10vh;
		margin-top: 10vh;
	}
	#projects .project_details {
		width: 100%;
		display: none;
	}
	#projects hr {
		width: 100%;
		margin: 2% 0 2% 0%;
		height: 1px;
		padding: 0;
		color: #046380;
		background-color: #046380;
		border: 0;
	}
	#projects .remove_project {
		cursor: pointer;
	}
#variator {
}
	#variator #variables_content p {
		padding: 10px 0 10px 20px;
		font-size: 20px;
	}
	#variator #variables_content input {
		display: inline-block;
		width: 20%;
		margin-right: 20px;
		position: relative;
		top: -2px;
		font-size: 20px;
		padding: 5px;
	}
	#variator #variables_content h2 {
		text-align: center;
		margin: 20px;
		cursor: pointer;
		border: 1px solid #046380;
	}
	#variator #variables_content h2:hover {
		background-color: #046380;
		color: #fff;
	}

#links {
	overflow: hidden;
	width: 70%;
	bottom: 0%;
	left: 30%;
	background-color: #046380;
	text-align: center;
}
	#links svg {
		cursor: pointer;
		height: 100%;
	}