/*
	#E6E2AF
	#A7A37E
	#EFECCA background
	#046380 text
	#002F2F selected
*/
* {
	margin: inherit;
	padding: inherit;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #EFECCA;
}

h1,h2,h3,h4,h5,h6,p {
	font-family: "Century Gothic";
	font-weight: normal;
	color: #046380;
}

section {
	position: absolute;
	display: block;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
	section h1 {
		text-align: center;
		font-size: 36px;
		font-size: 6vh;
	}

#loading {
	background:#fff;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:1000;
}
	#loading h1 {
		text-align: center;
		font-size: 72px;
		position:absolute;
		top: 50%;
		left: 50%;
		margin-top: -72px;
		margin-left: -140px;
	}
#logo {
}
	#logo svg {
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
	}

#ranking {
	border-right: 5px solid #046380;
	overflow: auto;
}
	#ranking h1 {
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.ranking_project {
		width: 100%;
		padding-top: 2px;
	}
	.ranking_project:hover {
		cursor: pointer;
		background-color: #002F2F;
	}

#projects {
	overflow: auto;
}
	#projects h1 {
		margin-top: 2%;
		margin-bottom: 2%;
	}
	#choose_project {
		text-align:center;
		font-size: 72px;
		font-size: 10vh;
		margin-top: 10vh;
	}